h1 {
    text-align: center;
}

input {
    margin-top: 20px;
}

#annoyer {
    position: absolute;
    width: 20vw;
    height: 10vh;
    font-size: 20px;
}

#boxes {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
}